* {
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

.active {
  color: #ffffff;
}

button {
  font-weight: bold;
}

.title {
  text-align: center;
  padding: 50px 0;
  background-color: #f3f3f3;
  margin-top: 20px;
}
.title h3 {
  text-transform: capitalize;
  color: #000020;
  padding-bottom: 5px;
}
.title p {
  text-transform: uppercase;
  color: #2c2c2c;
}

.header {
  background-color: hsla(240, 100%, 21%, 0.7);
  color: #ffffff;
  padding: 10px 0;
  width: 95%;
  top: 30px;
  margin: 0 2.5%;
  transition: 0.5s;
  position: fixed;
  display: grid;
  grid-template-columns: 15% 65% 20%;
}
.header .logo {
  margin-left: 10px;
}
.header .logo img {
  width: 100%;
}
.header .menu {
  text-align: center;
  word-spacing: 40px;
  font-size: 1.3vw;
}
.header .menu .active {
  color: #ffffff;
}
.header .menu b {
  word-spacing: normal;
  cursor: pointer;
  color: #c5c5ff;
}
.header .menu b span {
  margin: 0 3px;
}
@media screen and (max-width: 1000px) {
  .header .menu b {
    display: none;
  }
}
.header .search b {
  margin: 0 25px;
}
.header .search .ham {
  width: 40px;
  cursor: pointer;
  display: none;
}
.header .search .ham .burger {
  background-color: #ffffff;
  padding: 3px 0;
  width: 100%;
  margin: 3px 0;
}
@media screen and (max-width: 1000px) {
  .header .search .ham {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .header {
    grid-template-columns: 20% 55% 20%;
  }
}
@media screen and (max-width: 700px) {
  .header {
    grid-template-columns: 20% 48% 20%;
  }
}
@media screen and (max-width: 650px) {
  .header {
    grid-template-columns: 20% 45% 20%;
  }
}
@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: 20% 42% 20%;
  }
}
@media screen and (max-width: 550px) {
  .header {
    grid-template-columns: 20% 39% 20%;
  }
}
@media screen and (max-width: 500px) {
  .header {
    grid-template-columns: 20% 36% 20%;
  }
}
@media screen and (max-width: 450px) {
  .header {
    grid-template-columns: 20% 33% 20%;
  }
}
@media screen and (max-width: 400px) {
  .header {
    grid-template-columns: 20% 30% 20%;
  }
}
@media screen and (max-width: 350px) {
  .header {
    grid-template-columns: 20% 27% 20%;
  }
}
@media screen and (max-width: 300px) {
  .header {
    grid-template-columns: 20% 24% 20%;
  }
}
@media screen and (max-width: 250px) {
  .header {
    grid-template-columns: 20% 21% 20%;
  }
}
@media screen and (max-width: 200px) {
  .header {
    grid-template-columns: 20% 18% 20%;
  }
}
@media screen and (max-width: 150px) {
  .header {
    grid-template-columns: 20% 15% 20%;
  }
}
@media screen and (max-width: 100px) {
  .header {
    grid-template-columns: 20% 12% 20%;
  }
}
.slider {
  background-image: url("images/middle1.jpg");
  background-color: #00006f;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 80dvh;
}
.slider .text {
  position: relative;
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  top: 15dvh;
  transition: 0.5s;
}
.slider .text h1 {
  font-size: 11vw;
}
.slider .text p {
  font-size: 2vw;
}
@media screen and (max-width: 800px) {
  .slider .text p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 700px) {
  .slider .text p {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 650px) {
  .slider .text p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .slider .text p {
    font-size: 3.3vw;
  }
}
@media screen and (max-width: 550px) {
  .slider .text p {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .slider .text p {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 450px) {
  .slider .text p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .slider .text p {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 350px) {
  .slider .text p {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 300px) {
  .slider .text p {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 250px) {
  .slider .text p {
    font-size: 5vw;
  }
}
.slider .text button {
  font-size: 1.5vw;
  margin-top: 15px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .slider .text button {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 700px) {
  .slider .text button {
    font-size: 2.1vw;
  }
}
@media screen and (max-width: 650px) {
  .slider .text button {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 600px) {
  .slider .text button {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 550px) {
  .slider .text button {
    font-size: 3vw;
  }
}
@media screen and (max-width: 500px) {
  .slider .text button {
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .slider .text button {
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .slider .text button {
    font-size: 3vw;
  }
}
@media screen and (max-width: 350px) {
  .slider .text button {
    font-size: 4vw;
  }
}
@media screen and (max-width: 300px) {
  .slider .text button {
    font-size: 4vw;
  }
}
@media screen and (max-width: 250px) {
  .slider .text button {
    font-size: 4vw;
  }
}
.slider .text .lm {
  background-color: transparent;
  border: 2px solid #ffffff;
}
.slider .text .lm:hover {
  background-color: #ffffff;
  border: 2px solid #000020;
  color: #00006f;
}
.slider .text .cu {
  background-color: #00006f;
  border: 2px solid #00006f;
}
.slider .text .cu:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #00006f;
}
@media screen and (max-width: 800px) {
  .slider .text {
    top: 16dvh;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .slider .text {
    top: 18dvh;
  }
}
@media screen and (max-width: 650px) {
  .slider .text {
    top: 20dvh;
  }
}
@media screen and (max-width: 600px) {
  .slider .text {
    top: 24dvh;
  }
}
@media screen and (max-width: 550px) {
  .slider .text {
    top: 27dvh;
  }
}
@media screen and (max-width: 500px) {
  .slider .text {
    top: 31dvh;
  }
}
@media screen and (max-width: 450px) {
  .slider .text {
    top: 35dvh;
  }
}
@media screen and (max-width: 400px) {
  .slider .text {
    top: 38dvh;
  }
}
@media screen and (max-width: 350px) {
  .slider .text {
    top: 42dvh;
  }
}
@media screen and (max-width: 300px) {
  .slider .text {
    top: 45dvh;
  }
}
@media screen and (max-width: 250px) {
  .slider .text {
    top: 50dvh;
  }
}

.list {
  background-color: #f3f3f3;
  width: 100%;
  padding: 80px 0;
}
.list .inside {
  width: 90%;
  margin: auto;
}
.list .inside .columns {
  width: 100%;
}
.list .inside .columns .col {
  margin: 20px;
  line-height: 30px;
}
.list .inside .columns .col .icon {
  font-size: 8vw;
  padding-right: 30px;
  color: #000020;
  text-shadow: 10px 10px 2px rgb(190, 190, 190);
}
@media screen and (max-width: 800px) {
  .list .inside .columns .col .icon {
    font-size: 9vw;
  }
}
@media screen and (max-width: 700px) {
  .list .inside .columns .col .icon {
    font-size: 11vw;
  }
}
@media screen and (max-width: 650px) {
  .list .inside .columns .col .icon {
    font-size: 13vw;
  }
}
@media screen and (max-width: 600px) {
  .list .inside .columns .col .icon {
    font-size: 15vw;
  }
}
@media screen and (max-width: 550px) {
  .list .inside .columns .col .icon {
    font-size: 17vw;
  }
}
@media screen and (max-width: 500px) {
  .list .inside .columns .col .icon {
    font-size: 19vw;
  }
}
@media screen and (max-width: 450px) {
  .list .inside .columns .col .icon {
    font-size: 21vw;
  }
}
@media screen and (max-width: 400px) {
  .list .inside .columns .col .icon {
    font-size: 23vw;
  }
}
@media screen and (max-width: 350px) {
  .list .inside .columns .col .icon {
    font-size: 25vw;
  }
}
@media screen and (max-width: 300px) {
  .list .inside .columns .col .icon {
    font-size: 27vw;
  }
}
@media screen and (max-width: 250px) {
  .list .inside .columns .col .icon {
    font-size: 29vw;
  }
}
.list .inside .columns .col h3 {
  color: #00006f;
  text-transform: capitalize;
  font-size: 1.5vw;
}
@media screen and (max-width: 800px) {
  .list .inside .columns .col h3 {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 700px) {
  .list .inside .columns .col h3 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 650px) {
  .list .inside .columns .col h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 600px) {
  .list .inside .columns .col h3 {
    font-size: 4.3vw;
  }
}
@media screen and (max-width: 550px) {
  .list .inside .columns .col h3 {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 500px) {
  .list .inside .columns .col h3 {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 450px) {
  .list .inside .columns .col h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 400px) {
  .list .inside .columns .col h3 {
    font-size: 5.2vw;
  }
}
@media screen and (max-width: 350px) {
  .list .inside .columns .col h3 {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 300px) {
  .list .inside .columns .col h3 {
    font-size: 5.8vw;
  }
}
@media screen and (max-width: 250px) {
  .list .inside .columns .col h3 {
    font-size: 6vw;
  }
}
.list .inside .columns .col p {
  font-size: 1vw;
}
@media screen and (max-width: 800px) {
  .list .inside .columns .col p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 700px) {
  .list .inside .columns .col p {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 650px) {
  .list .inside .columns .col p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .list .inside .columns .col p {
    font-size: 3.3vw;
  }
}
@media screen and (max-width: 550px) {
  .list .inside .columns .col p {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .list .inside .columns .col p {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 450px) {
  .list .inside .columns .col p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .list .inside .columns .col p {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 350px) {
  .list .inside .columns .col p {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 300px) {
  .list .inside .columns .col p {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 250px) {
  .list .inside .columns .col p {
    font-size: 5vw;
  }
}

.services {
  width: 100%;
  text-align: center;
  background-color: #fcfcfc;
}
.services .columns {
  width: 90%;
  margin: auto;
}
.services .columns .col {
  padding: 40px 20px;
  box-shadow: 0px 0px 10px rgb(240, 239, 239);
  margin: 15px;
  background-color: #ffffff;
}
.services .columns .col .icon {
  font-size: 4vw;
  color: #000020;
  padding-bottom: 10px;
}
.services .columns .col .icon span {
  border: 2px solid #000020;
  padding: 15px;
}
@media screen and (max-width: 800px) {
  .services .columns .col .icon {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 700px) {
  .services .columns .col .icon {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 650px) {
  .services .columns .col .icon {
    font-size: 6.5vw;
  }
}
@media screen and (max-width: 600px) {
  .services .columns .col .icon {
    font-size: 7.5vw;
  }
}
@media screen and (max-width: 550px) {
  .services .columns .col .icon {
    font-size: 8.5vw;
  }
}
@media screen and (max-width: 500px) {
  .services .columns .col .icon {
    font-size: 9.5vw;
  }
}
@media screen and (max-width: 450px) {
  .services .columns .col .icon {
    font-size: 10.5vw;
  }
}
@media screen and (max-width: 400px) {
  .services .columns .col .icon {
    font-size: 11.5vw;
  }
}
@media screen and (max-width: 350px) {
  .services .columns .col .icon {
    font-size: 12.5vw;
  }
}
@media screen and (max-width: 300px) {
  .services .columns .col .icon {
    font-size: 13.5vw;
  }
}
@media screen and (max-width: 250px) {
  .services .columns .col .icon {
    font-size: 14.5vw;
  }
}
.services .columns .col h3 {
  color: rgb(210, 0, 0);
  text-transform: capitalize;
  font-size: 1.5vw;
  padding-bottom: 15px;
}
@media screen and (max-width: 800px) {
  .services .columns .col h3 {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 700px) {
  .services .columns .col h3 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 650px) {
  .services .columns .col h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 600px) {
  .services .columns .col h3 {
    font-size: 4.3vw;
  }
}
@media screen and (max-width: 550px) {
  .services .columns .col h3 {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 500px) {
  .services .columns .col h3 {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 450px) {
  .services .columns .col p {
    font-size: 5vw;
  }
}
@media screen and (max-width: 400px) {
  .services .columns .col h3 {
    font-size: 5.2vw;
  }
}
@media screen and (max-width: 350px) {
  .services .columns .col h3 {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 300px) {
  .services .columns .col h3 {
    font-size: 5.8vw;
  }
}
@media screen and (max-width: 250px) {
  .services .columns .col h3 {
    font-size: 6vw;
  }
}
.services .columns .col p {
  font-size: 1vw;
}
@media screen and (max-width: 800px) {
  .services .columns .col p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 700px) {
  .services .columns .col p {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 650px) {
  .services .columns .col p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .services .columns .col p {
    font-size: 3.3vw;
  }
}
@media screen and (max-width: 550px) {
  .services .columns .col p {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .services .columns .col p {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 450px) {
  .services .columns .col p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .services .columns .col p {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 350px) {
  .services .columns .col p {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 300px) {
  .services .columns .col p {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 250px) {
  .services .columns .col p {
    font-size: 5vw;
  }
}

.talk {
  width: 100%;
  padding: 40px 0;
  background-color: #00006f;
}
.talk .container {
  width: 90%;
  margin: auto;
}
.talk .container .column {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.talk .container .column .col {
  margin: 20px 0;
}
.talk .container .column h2 {
  color: #ffffff;
}
.talk .container .column p {
  color: rgb(210, 0, 0);
}
.talk .container .column button {
  background-color: #ffffff;
  color: #000020;
  padding: 15px 25px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
.talk .container .column button:hover {
  background-color: #000020;
  color: #ffffff;
  border: 2px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .talk .container .column {
    display: grid;
    grid-template-columns: 100%;
  }
}

.testi-container {
  width: 100%;
}
.testi-container .testi-cont {
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.testi-container .testi-cont .side {
  width: 90%;
  margin: 0 auto;
}
.testi-container .testi-cont .side h3 {
  color: #00006f;
}
.testi-container .testi-cont .side p {
  line-height: 27px;
}
.testi-container .testi-cont .side p span {
  word-spacing: normal;
}
.testi-container .testi-cont .side .inp {
  word-spacing: 20px;
}
.testi-container .testi-cont .side .rn {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 20% 75%;
}
.testi-container .testi-cont .side .rn .img {
  width: 100%;
}
.testi-container .testi-cont .side .rn .img img {
  width: 100%;
}
.testi-container .testi-cont .side .rn .text {
  margin: 0px 20px;
}
@media screen and (max-width: 800px) {
  .testi-container .testi-cont {
    display: grid;
    grid-template-columns: 100%;
  }
}

.testimony {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.testimony .column {
  width: 100%;
  text-align: left;
}
.testimony .column .col {
  margin-bottom: 50px;
}
.testimony .column .col img {
  width: 100%;
}
.testimony .column .col .text {
  width: 85%;
}
.testimony .column .col .text h3 {
  margin: 20px 0;
  color: #00006f;
}
.testimony .column .col .text .span {
  color: rgb(210, 0, 0);
  margin-top: 20px;
  cursor: pointer;
}
.testimony button {
  background-color: #00006f;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
.testimony button:hover {
  background-color: #000020;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.success {
  width: 100%;
  padding: 40px 0;
}
.success .container {
  width: 90%;
}
.success .container .column .col {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}
.success .container .column .col h3 {
  color: #00006f;
}

.call-back {
  background-color: #f3f3f3;
  padding: 40px 0;
  width: 100%;
}
.call-back .container {
  width: 90%;
  margin: auto;
}
.call-back .container .col {
  margin: 20px;
  text-align: center;
  line-height: 50px;
}
.call-back .container .col h3 {
  color: #00006f;
}
.call-back .container .col form {
  width: 100%;
}
.call-back .container .col form .input input {
  background-color: rgb(194, 192, 192);
  border: 0;
  outline: 0;
  margin: 7px;
  padding: 20px;
  font-size: 120%;
  color: #000020;
}
.call-back .container .col form .input input::-moz-placeholder {
  font-weight: bold;
}
.call-back .container .col form .input input::placeholder {
  font-weight: bold;
}
.call-back .container .col form textarea {
  width: 87%;
  background-color: rgb(194, 192, 192);
  border: 0;
  outline: 0;
  margin: 7px;
  padding: 20px 10px;
  font-size: 120%;
  color: #000020;
  resize: none;
}
.call-back .container .col form textarea::-moz-placeholder {
  font-weight: bold;
}
.call-back .container .col form textarea::placeholder {
  font-weight: bold;
}
.call-back .container .col form button {
  background-color: #00006f;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 8px;
}
.call-back .container .col form button:hover {
  background-color: #000020;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.footer {
  padding: 40px 0;
  width: 100%;
  background-color: #000020;
}
.footer .container {
  width: 90%;
  margin: auto;
}
.footer .container .column .col {
  text-align: left;
  margin: 10px 20px;
}
.footer .container .column .col h3 {
  color: #ffffff;
}
.footer .container .column .col img {
  width: 100%;
}
.footer .container .column .col .col-col {
  color: #ffffff;
  line-height: 0px;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 10% 90%;
}
.footer .container .column .col .col-col div {
  margin: 0;
}
.footer .container .column .col .col-col .text {
  text-align: left;
}
.footer .container .column .col .col-col .span {
  text-align: center;
}
.footer .container .column .col .col-col p {
  line-height: 25px;
}
.footer .container .column .rec .text {
  color: rgb(178, 178, 252);
  margin: 20px 0;
  cursor: pointer;
}
.footer .container .column .rec .text span {
  color: #f3f3f3;
  line-height: 30px;
}
.footer .container .column .rec form {
  width: 100%;
}
.footer .container .column .rec form input {
  background-color: rgb(194, 192, 192);
  border: 0;
  outline: 0;
  margin: 7px 0;
  padding: 20px 10px;
  font-size: 120%;
  color: #000020;
  width: inherit;
}
.footer .container .column .rec form input::-moz-placeholder {
  font-weight: bold;
}
.footer .container .column .rec form input::placeholder {
  font-weight: bold;
}
.footer .container .column .rec form textarea {
  width: inherit;
  background-color: rgb(194, 192, 192);
  border: 0;
  outline: 0;
  margin: 7px 0;
  padding: 20px 10px;
  font-size: 120%;
  color: #000020;
  resize: none;
}
.footer .container .column .rec form button {
  background-color: blue;
  color: #ffffff;
  padding: 15px 25px;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 8px;
}
.footer .container .column .rec form button:hover {
  background-color: #ffffff;
  color: blue;
  border: 2px solid #ffffff;
}

.copy-right {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px 0;
  border-top: 2px solid #f3f3f3;
  width: 100%;
}
.copy-right .container {
  width: 90%;
  margin: auto;
}
.copy-right .container .column {
  display: grid;
  grid-template-columns: 70% 30%;
}
.copy-right .container .column .col {
  margin: 10px auto;
}
.copy-right .container .column .span {
  word-spacing: 20px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .copy-right .container .column {
    display: grid;
    grid-template-columns: 100%;
  }
}

.mobile {
  background-color: hsla(240, 100%, 18%, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  left: -105%;
  transition: 0.5s;
}
.mobile .contain {
  background-color: #ffffff;
  width: 80%;
  padding: 40px 20px;
  position: absolute;
  height: 100%;
  overflow-x: scroll;
}
.mobile .contain .menu {
  line-height: 40px;
  text-transform: capitalize;
}
.mobile .contain .menu p {
  padding: 10px 15px;
  border-bottom: 2px solid #00006f;
  margin: 3px;
  color: #000020;
  cursor: pointer;
  transition: 0.5s;
}
.mobile .contain .menu p:hover {
  background-color: #00006f;
  color: #ffffff;
}
.mobile .contain .menu .social {
  text-align: center;
  word-spacing: 20px;
  width: 100%;
  font-size: 4vw;
  margin-top: 40px;
}
.mobile .contain .menu .social span {
  cursor: pointer;
}

.up {
  background-color: hsla(0, 0%, 17%, 0.5);
  color: #ffffff;
  padding: 20px;
  position: fixed;
  bottom: -100px;
  right: 50px;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */